@model JoinsPay_BackService.Models.Expense.ExpenseDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ExpenseDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.interest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.interest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.qtyInstallment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.qtyInstallment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.installment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.installment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.paymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.paymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.expenseCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.expenseCategory.description)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.paymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.paymentMethod.name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.department.name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.account.accountNumber)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.expenseStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.expenseStatus.description)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.expenseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.expenseType.description)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
